.barchart {
  width: 60%;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem 2rem 2rem 2rem;
  -webkit-box-shadow: 15px 12px 18px -6px rgba(0,0,0,0.1);
  box-shadow: 15px 12px 18px -6px rgba(0,0,0,0.1);
}

.barchart p {
  margin: 0;
  padding: 0;
}

.piechart {
  width: 40%;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem 2rem 2rem 2rem;
  -webkit-box-shadow: 15px 12px 18px -6px rgba(0,0,0,0.1);
  box-shadow: 15px 12px 18px -6px rgba(0,0,0,0.1);
}

.piechart p {
  margin: 0;
  padding: 0;
}

.linechart {
  width: 96%;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem 2rem 2rem 2rem;
  -webkit-box-shadow: 15px 12px 18px -6px rgba(0,0,0,0.1);
  box-shadow: 15px 12px 18px -6px rgba(0,0,0,0.1);
}

.linechart p {
  margin: 0;
  padding: 0;
}

.dashWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashContainer {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
